<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>GitHub Dash</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  </head>
  <body>

    <h1>GitHub Dashboard</h1>

    <form action="/search" method="GET">

        <label>Search an Originzation</label><br>

        <input type="text" name="orginization" placeholder="github originzation"/><br>
        sort:
        <input type="radio" name="sort" value="stars"> stars
        <input type="radio" name="sort" value="forks"> forks
        <input type="radio" name="sort" value="contributors"> contributors<br>
        <input type="submit">

    </form>

    {% block search_results %}
    {% endblock %}
  </body>
</html>
