{% extends "base.html" %}    <br>
{% block search_results %}
{% if repos %}
    Results:
    <table>
        <tr>
            <th>Repo</th>
            <th><a href="/search?orginization={{ orginization }}&sort=stars">Stars</a></th>
            <th><a href="/search?orginization={{ orginization }}&sort=forks">Forks</a></th>
            <th><a href="/search?orginization={{ orginization }}&sort=contributors">Contributors</a></th>
        </tr>
        {% for repo in repos %}
            <tr>
                <td>{{ repo.name }}</td>
                <td>{{ repo.stars }}</td>
                <td>{{ repo.forks }}</td>
                <td>{{ repo.contributors }}</td>
            </tr>
        {% endfor %}
{% endif %}
{% endblock %}
